@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@tailwind base; @tailwind components; @tailwind utilities;

:root { --bg: #F8FAFC; }
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--bg);
  -webkit-tap-highlight-color: transparent;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
