@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #40826c;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
